nav {
  height: 120px;
  color: #ffffff;
  background-color: #4056a1;
  width: 100vw;
  font-size: 24px;
  font-family: "Bungee", cursive;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 36px;
}
.insert {
  display: flex;
  align-self: center;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}
.space {
  width: 2px;
}
