/* fixed the navbar to always be at the top of the page */
nav {
  z-index: 9999;
  height: 120px;
  color: #ffffff;
  background-color: #4056a1;
  width: 100%;
  font-size: 24px;
  font-family: "Bungee", cursive;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.logo {
  font-size: 36px;
}
.insert {
  flex-direction: column;
  display: flex;
  align-self: center;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}
.insert:hover {
  transform: scale(1.2);
}

.down-arrow {
  align-self: inherit;
  padding: 2px;
  width: 2em;
  height: 2em;
}
