/* same width as main .container */
.new-tweet {
  width: 100%;
}
/* same width as parent */
.new-tweet form {
  display: block;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}
/* using the same color as h2 compose tweet and putting a solid line at border bottom */
.selector textarea {
  color: #545149;
  display: block;
  background: none;
  width: 100%;
  border: 0;
  border-bottom: 5px solid #545149;
  font-weight: bold;
}
/* added padding to sepeate from textarea */
.operators {
  padding-top: 1em;
  font-family: "Bungee", cursive;
  display: flex;
  justify-content: space-between;
}
/* button has same color and font as nav*/
.operators button {
  background-color: #4056a1;
  border: 0;
  color: white;
}