.tweet{
  border: 5px solid #545149;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.tweet-header{
  display: flex;
  justify-content: space-between;
}
.tweet-footer{
  border-top: 5px solid #545149;
  display:flex;
  justify-content: space-between;
}
.tweet-message{
  
}


