.tweet {
  border: 5px solid #545149;
  display: flex;
  flex-direction: column;
  opacity: .75;
  padding: 10px;
  margin-bottom: 10px;
  /* justify-content: space-between; */
}
/* the tweet box will behave differently when hovered over */
.tweet:hover {
  box-shadow: 4px 4px 8px cadetblue;
  opacity: 1;
  cursor: pointer;
}
/* specifically target the handle when hovering over the tweet */
.tweet:hover .handle{
  color: cadetblue;
   opacity: 1;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
}
.tweet-footer {
  border-top: 5px solid #545149;
  display: flex;
  justify-content: space-between;
}
.handle {
  opacity: 0;
}
.display-pic {
  display: flex;
  flex-direction: row;
  size: 10%;
}
/* reduce the size of the tweet pic */
.tweet-pic {
  width: 3em;
  height: 3em;
}
.likes-shares{
  flex-direction: row;
}
/* icon sizes smaller than display picture */
.like{
  width: 1em;
  height: 1em

}
.share{
  width: 1em;
  height: 1em
}
.flag{
  width: 1em;
  height: 1em
}
#error-messages{
  margin: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  color: red;
  border: 5px solid red;
  display: none;

}
